Marlene,
Please use this as breakout for the Columbus Softball field project.
The total contract amount is only 60,000, but the pricing table is below.
Total cost will be 62,651.51
Please update your quickbooks entry on this project and keep this link as the break down document
Thanks!

# Notes  
--- 
### Pipe Sizes

* 3/4" PVC pipe will be used in concessions stand and other building structures. Estimated at 450 feet
* 1" Pipe will be used to feed to and from different panels. Estimated 650 feet.
* 1-1/4" pipe will be used from transformer TLSP to panel LSP. Estimated 50 feet. 
* 2-1/2" pipe will be used from MDP to feed panel HSA. Estimated 250 feet.   

### Wire Sizes

* Estimated 6,000 feet of #12 wire
* Estimated 1,000 feet of #10 wire
* Estimated 5,500 feet of #8 wire
* Estimated 2,500 feet of #6 wire
* Estimated 1,000 feet of #4 wire
* Estimated 1,000 feet of 4/0 wire

### Misc. Materials

* Rigid 90s for the above pipe sizes. 15 quoted in total
* 40 weather-proof duplex receptacles
* 40 masonry boxes
* 7 10' copper ground rods
* 2 20 amp control switches

In [1]:
mat_cost = (20274.36+7230.91+10123.90)*1.15
print(f"Material cost with mark-up is {mat_cost}")

Material cost with mark-up is 43273.54549999999

In [2]:
underground = 253+190+161+50+85+513.61+356.73
print(f"Total underground length is {underground}")

Total underground length is 1609.3400000000001

In [3]:
underground_cost = underground*7
print(f"Total underground cost is {underground_cost}")

Total underground cost is 11265.380000000001

In [4]:
labor_hours = (30*4)*4
print(f"Total labor hours are {labor_hours}")

Total labor hours are 480

In [5]:
print('Labor hours = 3 guys for 1 month')

Labor hours = 3 guys for 1 month

In [6]:
labor_cost_cheap = labor_hours*57.50
labor_cost_normal = labor_hours*67.50
labor_cost = (
    f"Total labor cost at an hourly rate of $57.50 is: {labor_cost_cheap} \n" 
    f"Total labor cost at an hourly rate of $67.50 is: {labor_cost_normal}"
)
print(labor_cost)

Total labor cost at an hourly rate of $57.50 is: 27600.0
Total labor cost at an hourly rate of $67.50 is: 32400.0

In [7]:
total_cheap = mat_cost+underground_cost+labor_cost_cheap
print(f"Total with labor at $57.50 is: {total_cheap}")
total_normal = total_cheap - labor_cost_cheap + labor_cost_normal
print(f"Total with labor at $67.50 is: {total_normal}")

Total with labor at $57.50 is: 82138.9255
Total with labor at $67.50 is: 86938.9255

In [8]:
import pandas as pd

In [9]:
total = {
    'Material Cost':mat_cost,
    'Underground Cost':underground_cost,
    'Labor Hours':labor_hours,
    'Labor at $57.50':labor_cost_cheap,
    'Labor at $67.50':labor_cost_normal,
    'Total w/ labor at $57.50':total_cheap,
    'Total w/ labor at $67.50':total_normal
}
total_df = pd.DataFrame.from_dict(data=total, orient='index', columns = ['Cost'])
total_df

                                Cost
Material Cost             43273.5455
Underground Cost          11265.3800
Labor Hours                 480.0000
Labor at $57.50           27600.0000
Labor at $67.50           32400.0000
Total w/ labor at $57.50  82138.9255
Total w/ labor at $67.50  86938.9255