# Proposal

WE HEREBY PROPOSE TO FURNISH ALL THE LABOR AND MATERIAL REQUIRED TO COMPLETE THE FOLLOWING PROJECT IN ACCORDANCE WITH THE SCOPE AS LISTED BELOW: KILLEEN CORPORATE HANGAR


**SCOPE:** 

OUTSIDE
* CONSTRUCTION OF 2 PAD MOUNTS FOR TRANSFORMERS
* CONSTRUCTION ON 1 PAD MOUNT FOR SWITCHGEAR
* PROVIDE AND INSTALL (1) 6'x 4' x 3' UTILITY PRIMARY HANDHOLE
* PROVIDE AND INSTALL (11) 36" x 24" x 24" TRAFFIC-RATED PRECAST CONCRETE HANDHOLE
* PROVIDE AND INSTALL (6) 30" x 17" x 24" TRAFFIC-RATED PRECAST CONCRETE HANDHOLE
* PROVIDE AND INSTALL 4" CONDUIT FOR THE MAIN CONDUCTORS AND THE HANGAR TELECOM FIBER
* PROVIDE AND INSTALL 3" CONDUIT FOR THE HANGAR COPPER CABLES
* PROVIDE AND INSTALL 2" CONDUIT FOR THE SANITARY SEWER PUMP
* PROVIDE AND INSTALL 1" CONDUIT FOR THE SECURITY CAMERA CIRCUIT AND THE STREET LIGHTING
* PROVIDE AND INSTALL 3/4" CONDUIT FOR THE GATE OPERATING SYSTEM
* PROVIDE AND INSTALL WIRING FOR THE GATE OPERATING SYSTEM
* PROVIDE AND INSTALL FIXTURES S1, S2, AND S3, THEIR POLES, AND THEIR BRANCH CIRCUITS
* SAWCUTTING, WHERE NECESSARY
---

MAIN HANGAR
* PROVIDE AND INSTALL ALL LIGHTS AND CONTROLS WITH THE EXCEPTION OF 'HB' FIXTURES WHICH WILL BE PROVIDED BY MUSCO
* PROVIDE AND INSTALL BRANCH CIRCUITS FOR ALL 'SPECIAL RECEPTACLES' IN ACCORDANCE WITH SHEET E-101, DATED JUNE 2020
* PROVIDE AND INSTALL BRANCH CIRCUITS FOR THE (4) HANGAR MOTORIZED DOOR DRIVE UNITS
* PROVIDE AND INSTALL BRANCH CIRCUITS FOR THE (2) 'BIG ASS FANS'
* PROVIDE AND INSTALL GROUNDING SYSTEM WITH 1/0 BARE COPPER WIRE AS SHOWN ON SHEET E-101
* BRANCH CIRCUITS FOR THE RH AND EF MECHANICAL SYSTEMS
* ROUGH IN AND TRIM OF REMAINING OUTLETS

PRICES - BASE BID:  

PAD-MOUNTED TRANSFORMER FOUNDATION (2) - \\$2,400  

PAD-MOUNTED SWITCHGEAR FOUNDATION (1) - \\$1,200    

NON-ENCASED 4" CONDUIT INSTALLED (1,300 L.F.) - \\$16,421.80    

NON-ENCASED ELECTRICAL DUCT BANK 4"C (1,975 L.F.) - \\$24,948.50    

GALVANIZED RIGID STEEL CONDUIT 4" 2 SETS (100 L.F) - \\$5,600.22    

NON-ENCASED ELECTRICAL CONDUIT 4" WITH SAWCUT PAVEMENT (100 L.F.) - \\$3,663.21    

NON-ENCASED ELECTRICAL DUCT BANK 3"C (725 L.F.) - \\$7,269.69    

NON-ENCASED ELECTRICAL DUCT BANK WITH SAWCUT PAVEMENT (25 L.F.) - \\$850.68    

NON-ENCASED ELECTRICAL CONDUIT 2" (1,375 L.F.) - \\$11,985.49   

NON-ENCASED ELECTRICAL CONDUIT WITH SAWCUT PAVEMENT (35 L.F.) - \\$1,144.40  

NON-ENCASED ELECTRICAL CONDUIT 1" (500 L.F.) - \\$4,167.28    

EXISTING SWITCHGEAR FOUNDATION REMOVAL - \\$402.50    

EXISTING TRANSFORMER FOUNDATION REMOVAL - \\$805.00    

UTILITY PRIMARY HANDHOLE - \\$2,258.70    

TRAFFIC RATED CONCRETE HANDHOLE (11) - \\$19,186.25    

TRAFFIC RATED CONCRETE HANDHOLE (6) - \\$6655.50    

LIGHTNING PROTECTION SYSTEM - \\$24,803.70  


---
TOTAL OUTSIDE PRICE - \\$125,354.54  

TOTAL HANGAR PRICE - \\$295,399.58  

---

TOTAL BASE BID PRICE - \\$420,754.12

**DISCLAIMERS AND EXCLUSIONS**
* OUTSIDE PRICING DOES NOT INCLUDE ANY GEAR, ONLY THE CONDUIT AND WIRING SPECIFIED IN THE SCOPE
* OTHERS WILL BE PROVIDING NEW SWITCHGEAR AND TRANSFORMERS. STARBRITE TO ONLY PROVIDE THE PAD AND CONDUIT CONNECTIONS
* PRICE TO BRING SERVICE IS NOT INCLUDED IN THE FINAL PRICE SEEN HERE. ASSUMED TO BE THE ALLOWANCE AS SHOWN ON ADDENDUMS
* PRICE DOES NOT INCLUDE ANY BONDING COSTS AND PROPOSAL COMPLETION IS PENDING ON ABILITY TO BE BONDED.
* ADDER CORD AND ARC-FLASH STUDY IS ADDED INTO THIS PRICE AT \\$9,240. THAT IS THE PRICE FOR ALL 4 BIDS COMBINED.
* PRICE FOR THE RENTAL OF ANY EQUIPMENT IS INCLUDED IN THIS PROPOSAL AND WILL NOT BE ADDED TO THE FOLLOWING PROPOSALS. WHICH MAY INCREASE THE COST OF THE ALTERNATES IF WE ARE AWARDED ONE WITHOUT BEING AWARDED THE BASE BID.

# PROPOSAL - ALTERNATE 1

WE HEREBY PROPOSE TO FURNISH ALL THE LABOR AND MATERIALS REQUIRED TO COMPLETE THE FOLLOWING PROJECT IN ACCORDANCE WITH THE SCOPE AS LISTED BELOW: KILLEEN CORPORATE HANGAR - ALTERNATE 1

**SCOPE:**

* PROVIDE AND INSTALL LIGHTING FIXTURES IN ACCORDANCE WITH THE FIXTURE SCHEDULE AND SHEET E-102
* PROVIDE AND INSTALL GEAR PACKAGE AS SHOWN ON SHEET E-103
* PROVIDE AND INSTALL BRANCH CIRCUITS FOR MECHANICAL GEAR AS SEEN ON SHEET E-103
* PROVIDE AND INSTALL (2) LIGHTING INVERTERS
* PROVIDE AND INSTALL LIGHTING CONTROL PANEL
* ROUGH-IN CONDUIT AND STUB-UP'S FOR TELECOM
* ROUGH-IN AND TRIM FOR OUTLETS

TOTAL ALT-1 PRICE - \\$148,712.70

**DISCLAIMERS AND EXCLUSIONS**
* NO WIRING IS PROVIDED IN PRICE FOR ANY TELECOM SERVICES. CONDUIT ONLY IS INCLUDED
* NO MECHANICAL GEAR IS PROVIDED IN PRICE, ONLY THE BRANCH CIRCUITS ARE ACCOUNTED FOR.
* NO TELECOM TRIM IS PROVIDED IN PRICE.
* ALL DISCLAIMERS AND EXCLUSIONS FROM BASE PROPOSAL STILL APPLY HERE.

# PROPOSAL - ALTERNATE 2

WE HEREBY PROPOSE TO FURNISH ALL THE LABOR AND MATERIALS REQUIRED TO COMPLETE THE FOLLOWING PROJECT IN ACCORDANCE WITH THE SCOPE AS LISTED BELOW: KILLEEN CORPORATE HANGAR - ALTERNATE 1

**SCOPE:**

* PROVIDE AND INSTALL LIGHTING FIXTURES IN ACCORDANCE WITH THE FIXTURE SCHEDULE AND SHEET E-104
* PROVIDE AND INSTALL GEAR PACHAGE AS SHOWN ON SHEET E-105
* PROVIDE AND INSTALL BRANCH CIRCUITS FOR MECHANICAL GEAR AS SEEN ON SHEET E-105
* ROUGH IN AND TRIM FOR OUTLETS

TOTAL ALT-2 PRICE - \\$38,057.97

**DISCLAIMERS AND EXCLUSIONS** 
* NO MECHANICAL GEAR IS PROVIDED IN PRICE, ONLY THE BRANCH CIRCUITS ARE ACCOUNTED FOR.
* CARD READER DEVICES ARE NOT ACCOUNTED FOR IN PRICE, ASSUMED TO BE PROVIDED BY SECURITY CONTRACTOR.
* ALL DISCLAIMERS AND EXCLUSIONS FROM PREVIOUS PROPOSALS STILL APPLY

# PROPOSAL - ALTERNATE 3

WE HEREBY PROPOSE TO FURNISH ALL THE LABOR AND MATERIALS REQUIRED TO COMPLETE THE FOLLOWING PROJECT IN ACCORDANCE WITH THE SCOPE AS LISTED BELOW: KILLEEN CORPORATE HANGAR - ALTERNATE 1

**SCOPE:**

* PROVIDE AND INSTALL LIGHTING FIXTURES IN ACCORDANCE WITH THE FIXTURE SCHEDULE AND SHEET E-104
* PROVIDE AND INSTALL GEAR PACHAGE AS SHOWN ON SHEET E-105
* PROVIDE AND INSTALL BRANCH CIRCUITS FOR MECHANICAL GEAR AS SEEN ON SHEET E-105
* ROUGH IN AND TRIM FOR OUTLETS

TOTAL ALT-3 PRICE - \\$120,294.12

**DISCLAIMERS AND EXCLUSIONS**
* NO MECHANICAL GEAR IS PROVIDED IN PRICE, ONLY THE BRANCH CIRCUITS ARE ACCOUNTED FOR.
* ALL DISCLAIMERS AND EXCLUSIONS FROM THE PREVIOUS PROPOSALS STILL APPLY.

IGNORE THE FOLLOWING, IT IS MY NOTES AND WORK

  *  
  *  
    
  * 
  *  
   
  *
  *  
  
  *  
  
  *  
  
  *  
  
  *  
    
  *  
    
  *  
   
  *   
  
  *  
  
  *  
   
  *
  *
  *
  *
  *
  *
  *
  *
  *
  *
  *
  *
  *
  *
  *
  *
  *
  *
  *
  *
  *
  *
     
       
         
          
           
            
             
              
                 
                 
                 
                    
                    
                     
                      
                       
                         
                          
                            
                             
                             





















*

In [3]:
fixture_counts = {
    'A1':1,
    'A1E':6,
    'A1ER':12,
    'A1R':3,
    'A2':9,
    'A2E':4,
    'A2ER':5,
    'A2R':7,
    'A3':28,
    'A3E':7,
    'A3R':1,
    'A4R':1,
    'A6ER':5,
    'A6R':5,
    'HCE':2, #4 more on the alt 2/3
    'XA':1,
    'XAE':8
}

In [4]:
base_fixtures = {
    'HA':38,
    'HAE':4,
    'HB':7,
    'HCE':2,
    'F1':39,
    'S1':1,
    'S2':1,
    'S3':1,
    'XAE':4
}

In [5]:
alt_one = {
    'A1':2,
    'A1E':6,
    'A2':13,
    'A2E':5,
    'A3':30,
    'A3E':6,
    'A5':4,
    'A6':3,
    'A6E':6,
    'HCE':5,
    'XA':1,
    'XAE':5
}

In [6]:
alt_two = {
    'A1ER':4,
    'A2R':2,
    'A4R':1,
    'A6R':2,
    'A6ER':2,
    'HCE':1,
    'XAE':1
}

In [7]:
alt_three = {
    'A1R':4,
    'A1ER':8,
    'A2R':7,
    'A2ER':5,
    'A3R':1,
    'A4R':1,
    'A6R':3,
    'A6ER':3,
    'HCE':3,
    'XAE':3
}

In [8]:
import pandas as pd

In [11]:
base_df = pd.DataFrame.from_dict(base_fixtures, orient='index', columns=['QTY'])

In [12]:
base_df

     QTY
HA    38
HAE    4
HB     7
HCE    2
F1    39
S1     1
S2     1
S3     1
XAE    4

In [13]:
one_df = pd.DataFrame.from_dict(alt_one, orient='index', columns=['QTY'])
one_df

     QTY
A1     2
A1E    6
A2    13
A2E    5
A3    30
A3E    6
A5     4
A6     3
A6E    6
HCE    5
XA     1
XAE    5

In [14]:
two_df = pd.DataFrame.from_dict(alt_two, orient='index', columns=['QTY'])
two_df

      QTY
A1ER    4
A2R     2
A4R     1
A6R     2
A6ER    2
HCE     1
XAE     1

In [15]:
three_df = pd.DataFrame.from_dict(alt_three, orient='index', columns=['QTY'])

In [16]:
three_df

      QTY
A1R     4
A1ER    8
A2R     7
A2ER    5
A3R     1
A4R     1
A6R     3
A6ER    3
HCE     3
XAE     3

In [18]:
base_df.to_csv('./Base_fixture_count.csv')

In [19]:
one_df.to_csv('./alt_one_count.csv')

In [20]:
two_df.to_csv('./alt_two_count.csv')

In [21]:
three_df.to_csv('./alt_three_count.csv')

## Outside/Main Service

#### Things to do
---
* New pad mounted switchgear on the northeast side. Contractor to build pad and connect new and existing conduit after build of pad.
* Connect new electrical circuit to sanitary sewer fused disconnect. 720ft run. Requires sawcut of pavement.
* New pad mounted transformer on the east side of the hangar. Contractor to construct pad and connect conduits.

## Base Bid - Main Hangar

#### Pipe

In [7]:
#for HA fixtures 3/4" metal pipe
ha = 4500
#for HB fixtures 1" metal pipe
hb = 1200
# hangar motorized main door drive units 1"C
door = 1000
# outside fixtures HCE 3/4"
hce = 500
# outlets (26) at an average of 150ft, 3/4"C
outlets = 4000
#branch circuit for fixtures xae, 3/4"C
xae = 1000
# special purpose outlets in 1"C
spo1 = 1000
# special purpose outlets in 2"C
spo2 = 500
# special outlet in 1.5" C
spo3 = 150
# miscellaneous 3/4" C
misc = 2200

In [8]:
total_3quarter = ha + hce + outlets + xae + misc
total_1inch = hb + door + spo1
total_2inch = spo2
print(f"total 3/4 pipe = {total_3quarter}")
print(f"total 1 inch pipe = {total_1inch}")
print(f"total 2 inch pipe = {total_2inch}")

total 3/4 pipe = 12200
total 1 inch pipe = 3200
total 2 inch pipe = 500

#### Wire

In [5]:
wire12 = (ha + xae + hce + misc + outlets)*3
wire10 = (hb + door + spo1 + spo3)*3
wire8 = spo3 * 3
wire6 = spo2 * 3
print(wire12)
print(wire10)
print(wire8)
print(wire6)

27600
10050
450
1500

#### Misc.

In [16]:
jbox = 106
gfi_recept = 35
nema18_20R_recept = 9
# 500ft of 1/0 bare copper wire

## Base Bid Outside

* 4000ft of 4"C
* 1600ft of 3"
* 1200ft of 2" C
* 1000ft of 1" C
* 800ft of 3/4"
* 10,000ft of #10 wire
* 1500ft of outdoor rated copper cable
* (11) 24"W x 36"L x 24"D traffic rated H-20 polymer concrete junction box
* (5) 17"W x 30"L x 24"D 
* (1) 4'W x 6'L x 3'D primary handhole for electrical utility

## Alternative 1

#### Pipe

In [9]:
# outlets 3/4" C
ol = 2550
# lighting fixtures 3/4"C
lights = 2250
# AC units 3/4"C
acu = 150
# communications stub ups 1"C
comm = 3950

total34 = ol + lights + acu
total1 = comm
# ADD IN 200FT OF 1 1/4" C FOR THE AHU AT THE TOP OF THE ROOM AND THE ONE IN THE ELECTRICAL ROOM
print(f"total 3/4 inch pipe = {total34}")
print(f"total 1 inch pipe = {total1}")

total 3/4 inch pipe = 4950
total 1 inch pipe = 3950

#### Wire

In [15]:
numbah12 = (ol + lights)*3
numbah10 = acu
numbah8 = (acu*4) + 150
numbah6 = 120*3
numbah4 = 200*3

print(numbah12)
print(numbah10)
print(numbah8)
print(numbah6)
print(numbah4)

14400
150
750
360
600

#### Misc

* 162 jboxes NEMA 1 RATED (5 are nema 4)
* 46 gfi receptacles
* 4 recepts with usb plug tamper proof
* 4 quadplex receptacles
* power pole x1
* light inverters - IOTA IIS 550 I
* 10kva 208V 1ph disconnect

## Alt 2

* 3/4" pipe = 750ft
* 100ft 1" pipe
* 50ft of 1 1/4"
* 15 gfi recepts
* 2250ft of #12
* 60ft of #4 wire
* 20ft of #8 wire

## Alt 3

* 4000ft of 3/4" pipe
* 12,000ft of #12 wire
* 3500ft of 1" pipe
* 600ft of #10 wire
* 200ft of #4 wire
* 100ft of #8
* 40 recepts
* 8 recepts with usb
* 175 jboxes (7 are nema 4)