# Proposal

WE HEREBY PROPOSE TO FURNISH ALL THE LABOR AND MATERIAL REQUIRED TO COMPLETE THE FOLLOWING PROJECT IN ACCORDANCE WITH THE SCOPE AS LISTED BELOW: ST. FRANCIS EPISCOPAL SOCCER FIELD  

SCOPE  
##### OPTION 1 - 30FC
* BUILD AND ERECT 4 70FT LIGHT POLES
* BUILD AND INSTALL CROSSARMS FOR ALL 4 POLES ACCORDING TO COOPER LIGHTING SPECIFICATIONS
* INSTALL 44 EPHESUS LUMASPORT FIXTURES
* AIM FIXTURES TO THE PROPER ON FIELD LUMEN LEVELS

##### OPTION 2 - 50FC
* BUILD AND ERECT 4 70FT LIGHT POLES
* BUILD AND INSTALL CROSSARMS FOR ALL 4 POLES ACCORDING TO COOPER LIGHTING SPECIFICATIONS
* INSTALL 64 EPHESUS LUMASPORT FIXTURES
* AIM FIXTURES TO THE PROPER ON FIELD LUMEN LEVELS

TOTAL OPTION 1: \\$39,800  
TOTAL OPTION 2: \\$48,300

#### DISCLAIMERS & EXCLUSIONS
* BID PRICE INCLUDES ONLY LABOR, MACHINERY, AND CONCRETE TO SET POLES. ALL OTHER MATERIAL WILL BE PROVIDED BY OTHERS.
* ROUTING POWER TO POLES, PIPE AND WIRE, AND ANY NECESSARY ELECTRICAL GEAR NOT INCLUDED
* PROJECT WAS NOT DESIGNED BY STARBRITE ELECTRIC AND THUS WILL NOT INCUR ANY COSTS FROM CHANGES TO PLANS

# 30 FC

### Details
* 4 poles
* Poles are 70ft tall
* Poles are direct embedded
* 44 total fixtures

In [8]:
import pandas as pd
cost_dict = {
    'Drilling':'$800',
    'Machinery':'$5,500',
    'Concrete':'$900',
    'Labor - Pole Construction':'$13,900',
    'Labor - Light Install':'$18,700',
    'TOTAL':'$39,800'
}

cost_df = pd.DataFrame.from_dict(cost_dict, orient='index')
cost_df.columns = ['Price']

In [9]:
cost_df

                             Price
Drilling                      $800
Machinery                   $5,500
Concrete                      $900
Labor - Pole Construction  $13,900
Labor - Light Install      $18,700
TOTAL                      $39,800

# 50 FC
---
### Details
* 4 Poles
* Poles are 70ft tall
* Poles are direct embedded
* 64 total fixtures

In [11]:
cost_dict2 = {
    'Drilling':'$800',
    'Machinery':'$5,500',
    'Concrete':'$900',
    'Labor - Pole Construction':'$13,900',
    'Labor - Light Install':'$27,200',
    'TOTAL':'$48,300'
}

cost_df2 = pd.DataFrame.from_dict(cost_dict2, orient='index')
cost_df2.columns = ['Price']
cost_df2

                             Price
Drilling                      $800
Machinery                   $5,500
Concrete                      $900
Labor - Pole Construction  $13,900
Labor - Light Install      $27,200
TOTAL                      $48,300