In [1]:
mat_cost = (8626.50+7230.91+10123.90)*1.15
print(f"Material cost with mark-up is {mat_cost}")

Material cost with mark-up is 29878.506499999996

In [2]:
underground = 253+190+161+50+338+85+(470*3)
print(f"Total underground length is {underground}")

Total underground length is 2487

In [3]:
underground_cost = underground*7
print(f"Total underground cost is {underground_cost}")

Total underground cost is 17409

In [4]:
labor_hours = (30*4)*4
print(f"Total labor hours are {labor_hours}")

Total labor hours are 480

In [5]:
print('Labor hours = 3 guys for 1 month')

Labor hours = 3 guys for 1 month

In [6]:
labor_cost_cheap = labor_hours*57.50
labor_cost_normal = labor_hours*67.50
labor_cost = (
    f"Total labor cost at an hourly rate of $57.50 is: {labor_cost_cheap} \n" 
    f"Total labor cost at an hourly rate of $67.50 is: {labor_cost_normal}"
)
print(labor_cost)

Total labor cost at an hourly rate of $57.50 is: 27600.0
Total labor cost at an hourly rate of $67.50 is: 32400.0

In [7]:
total_cheap = mat_cost+underground_cost+labor_cost_cheap
print(f"Total with labor at $57.50 is: {total_cheap}")
total_normal = total_cheap - labor_cost_cheap + labor_cost_normal
print(f"Total with labor at $67.50 is: {total_normal}")

Total with labor at $57.50 is: 74887.50649999999
Total with labor at $67.50 is: 79687.50649999999

In [8]:
import pandas as pd

In [14]:
total = {
    'Material Cost':mat_cost,
    'Underground Cost':underground_cost,
    'Labor Hours':labor_hours,
    'Labor at $57.50':labor_cost_cheap,
    'Labor at $67.50':labor_cost_normal,
    'Total w/ labor at $57.50':total_cheap,
    'Total w/ labor at $67.50':total_normal
}
total_df = pd.DataFrame.from_dict(data=total, orient='index')
total_df

                                   0
Material Cost             29878.5065
Underground Cost          17409.0000
Labor Hours                 480.0000
Labor at $57.50           27600.0000
Labor at $67.50           32400.0000
Total w/ labor at $57.50  74887.5065
Total w/ labor at $67.50  79687.5065